@{
    ViewData["Title"] = "Home Page";
}

<h4>Ejemplo 1: Márgenes</h4>

<div class ="mb-4">abajo
    Fila 1
</div>

<div class="mt-4">arriba
    Fila 2
</div>

<div class="m-4"> alrededor
    Fila 3
</div>

<div class="my-4"> arriba,abajo
    Fila 4
</div>

<button class="btn btn-primary p-5">Boton 1</button>
<button class="btn btn-secondary px-5">Boton 2</button> 




