@{
	ViewData["Title"] = "Home Page";
}


<div>
	Sin ratio:
</div>

<iframe  width="560" height="315" src="https://www.youtube.com/embed/GfXGYDgTasQ?si=aDBJeHLcnLsaO7Oi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>></iframe>

<div>
	Con ratio 16x19
</div> 

<div class="ratio ratio-16x9">

<iframe width="560" height="315" src="https://www.youtube.com/embed/GfXGYDgTasQ?si=aDBJeHLcnLsaO7Oi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>></iframe>

</div>

<hr />

<div class="row gy-4">
	<div class="col-md-4">
		<div class=" ratio ratio-16x9">

			<iframe width="560" height="315" src="https://www.youtube.com/embed/GfXGYDgTasQ?si=aDBJeHLcnLsaO7Oi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>></iframe>

		</div>
	</div>

	<div class="col-md-4">
		<div class=" ratio ratio-16x9">

			<iframe width="560" height="315" src="https://www.youtube.com/embed/GfXGYDgTasQ?si=aDBJeHLcnLsaO7Oi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>></iframe>

		</div>
	</div>

	<div class="col-md-4">
		<div class=" ratio ratio-16x9">

			<iframe width="560" height="315" src="https://www.youtube.com/embed/GfXGYDgTasQ?si=aDBJeHLcnLsaO7Oi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>></iframe>

		</div>
	</div>
</div>








