@{
	ViewData["Title"] = "Home Page";
}
<h4>Ejemplo 1: Imagenes en columnas</h4>
<div class="row gy-5">
	<div class="col-sm-3">
		<img class="img-fluid" src="https://www.tiposdegatos.com/wp-content/uploads/2020/06/gato-bebe-negro-y-blanco.jpg" />
	</div>
	<div class="col-sm-3">
		<img class="img-fluid" src="https://i.pinimg.com/originals/cb/23/79/cb23791c43e4fa7278d58ecf64dbdd8b.jpg" />
	</div>
	<div class="col-sm-3">
		<img class="img-fluid" src="https://images.hola.com/imagenes/mascotas/20210217184541/gatos-gesto0s-lenguaje-significado/0-922-380/gatos-gestos-m.jpg?tx=w_680" />
	</div>
	<div class="col-sm-3">
		<img class="img-fluid" src="https://img.freepik.com/fotos-premium/gatito-gris-blanco_548832-9970.jpg" />
	</div>
</div>
<h4>Ejemplo 2: Imagen tipo thumbanail </h4>

<img 
	class="img-thumbnail rounded-circle"
	src="https://www.billboard.com/wp-content/uploads/2022/12/adam-sandler-2019-billboard-rc-1548.jpg" width="400px" />
















